{% extends "home/base.html" %} {% block content %}

<h1>Cart</h1>

<br />
<h2>Product Id: {{current_product.id}}</h2>
<h2>Product Name: {{current_product.product_name}}</h2>
<h2>Product Price: {{current_product.price}}</h2>
<h2>Seller Name: {{current_product.seller_name}}</h2>
<br />
<form method="post">
  {% csrf_token %}
  <label for="Buyer First Name">First Name:</label><br />
  <input type="text" id="fname" name="buyerf_name" /> <br />
  <label for="Buyer Last Name">Last Name:</label><br />
  <input type="text" id="lname" name="buyerl_name" />
</form>
<br />
<a href="/home/sold/{{current_product.id}}"> Confirm Checkout </a>
<br />
<h3><a href="/home">Return to homepage</a></h3>
{% endblock %}
