{% extends "home/base.html" %} {% block content %}

<h1>Remote Commerce</h1>
<h3><a href="/home/form">Want to sell product?</a></h3>
<h4><a href="/logout/"> Log out </a></h4>

<style>
  div {
    background-color: steelblue;
    width: 400px;
    color: white;
    font-family: URW Chancery L, cursive;
    font-size: 15px;
    border: 2px solid black;
    padding: 10px;
    margin: 5px;
  }
</style>

{% for entry in all_entries %}
<div>
  <h2>Product Id: {{entry.id}}</h2>
  <h2>Product Name: {{entry.product_name}}</h2>
  <h2>Price: {{entry.price}}</h2>
  {% if entry.product_image %}
  <h2>
    Image:
    <img src="{{ entry.product_image.url }}" alt="{{ entry.product_name }}" />
  </h2>
  {{entry.product_image.url}} {% else %}
  <h2>Image: No Image</h2>
  {% endif %}
  <h2>Seller Name: {{entry.seller_name}}</h2>

  <a href="product/{{entry.id}}" style="color: white"> Details </a>
</div>
<br />
<br />
{% endfor %} {% endblock %}
