{% extends "user/base.html" %} {% block content %}

<form method="post">
  {% csrf_token %}
  <label for="username">Username:</label><br />
  <input type="text" id="username" name="username" /><br />
  <label for="mail">E-mail</label><br />
  <input type="text" id="mail" name="mail" /> <br />
  <label for="password">Password:</label><br />
  <input type="password" id="password" name="password" /> <br />
  <label for="phone">Phone Number:</label><br />
  <input type="text" id="phone" name="phone" /> <br />
  <input type="submit" value="Submit" />
</form>

<h2>{{message}}</h2>
<h3><a href="/home">Return to homepage</a></h3>

{% endblock %}
